{% extends "base.html" %}

{% block title %}
Bookmarks - Add
{% endblock %}

{% block content %}
  <article>
    <header>
        <h1>Welcome</h1>
        <p>Simple social bookmarking site</p>
    </header>
    <section>
      <h2>Recently Added</h2>
        <ul>
          {% for bm in new_bookmarks %}
            <li>
              {{ bm.user.username }} added <a href="{{ bm.url }}">{{ bm.description }}</a>
            </li>
          {% else %}
          No bookmarks yet.
          {% endfor %}
      </ul>
    </section>
  </article>
{% endblock %}
